@import url("https://fonts.googleapis.com/css2?family=Pangolin&display=swap");

body {
  list-style: none;
  text-align: center;
  width: 80%;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Pangolin", cursive;
  font-size: 1.3rem;
}

ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  justify-content: center;
}

.name {
  padding: 5px;
  border-radius: 5px;
  margin: 3px;
  cursor: pointer;
  user-select: none;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.girl {
  color: rgb(241, 100, 100);
  background-color: rgb(250, 230, 230);
}
.boy {
  color: rgb(249, 159, 42);
  background-color: lightgoldenrodyellow;
}

.name {
  padding: 5px;
  border-radius: 5px;
  margin: 3px;
  cursor: pointer;
  user-select: none;
}

.controlBar {
  display: Flex;
}

.sexButtons {
  margin: 3px;
  display: flex;
  align-items: center;
}

.maleChooser::before {
  background: #a0cfee;
  content: "\01F423";
}
.femaleChooser::before {
  background: #ffc6e5;
  content: "\01F424";
}
.anyChooser::before {
  background: #dddddd;
  content: "\01F425";
}

.chooser::before {
  padding: 5px;
  border-radius: 3px;
  margin: 2px;
  cursor: pointer;
  font-size: 120%;
}

.chooser.selected::before {
  border-bottom: 2px solid black;
}

.favourites {
  margin: 30px auto;
  width: 90%;
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 2px solid #dddddd;
}
.favourites span {
  font-size: 1.4rem;
  color: #aaa;
  margin-right: 10px;
}

footer {
  border-top: 2px solid #dddddd;
  color: #dddddd;
  margin: 0 auto;
  margin-top: 50px;
  width: 80%;
  text-align: center;
}

input {
  border: 1px solid #dddddd;
  padding: 10px;
  border-radius: 5px;
  margin: 0 auto;
}
